body {
  margin-top: 3rem;
  margin: 2rem;
  background-color: #000;
  background-image: url('hero.jpg');
  background-size: cover;
  background-position: 100% 15%;
  color: whitesmoke;
  font-family:'Space Grotesk', sans-serif;
  display: flex;
  justify-content: flex-end;
  
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 80vh;
  
  padding-top: 8rem;
  margin-left: 4rem;
  box-sizing: border-box;
}

.hover-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-wrap svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 425%;
  height: 420%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.hover-wrap:hover svg {
  opacity: 1;
}

.text {
  max-width: 500px;
}

h1 {
  font-size: 2.1 rem;
  line-height: 1.4;
  margin-bottom: 24px;
}

.newsletter {
  color: #eae5e5;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

.image img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  h1 {
    font-size: 1.4rem;
  }

  .image {
    margin-top: 30px;
  }
}
